biasValues.csv
chargeDensities.csv
staticCapacitance.csv
test_grid.jl
Structure_Schottky_CIGS/transient_case/2_Schottky/solution.jld2
Structure_Schottky_CIGS/transient_case/2_Schottky/DLTS_setup/plots/*
Structure_Schottky_CIGS/transient_case/2_Schottky/DLTS_setup/solution_of_DLTS.jld2
Structure_Schottky_CIGS/transient_case/2_Schottky/DLTS_setup/solution.jld2
Structure_Schottky_CIGS/transient_case/2_Schottky/DLTS_setup/steady_state_solution.jld2
